<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    {% component_css_dependencies %}
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% component "table_edit_row" %}{% endcomponent %}
    {% component_js_dependencies %}
</body>
</html>